@inject Microsoft.Extensions.Options.IOptions<Registration.Models.SiteOptions> options
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - @options.Value.Name</title>
        <script>
            var $Environment = {
                siteName: "@options.Value.Name"
            };
        </script>
        <!-- IE 11 support -->
        <script>
        if (typeof window.Promise === "undefined") {
            document.write("<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js'><\/script>");
        }
        </script>
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        @Html.Raw(JavaScriptSnippet.FullScript)
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
